<app-header-new></app-header-new>
<section class="middle-content container-fluid" style="background-image: url('assets/new/images/background.jpg');">
    <div class="row customTop">
        <div class="col-md-2">
            <app-nav-left></app-nav-left>
        </div>
        <div class="col-md-9 col-md-offset-1 text-center">
            <div class="contentRight">
                <!-- <h4 class="text-left teaxt-heading btn-blue">Create New Permissions</h4> -->
                <!-- <div class="col-md-3 customTop custom-right">
                    <h5 class="btn-blue">Queue to be worked</h5>
                    <div class="roles">
                        <ul>
                            <li><input type="checkbox">Search by Name</li>
                            <li><input type="checkbox">Search by Role</li>
                        </ul>
                    </div>
                </div> -->
                <!-- <div class="col-md-4 customTop custom-right">
                    <h5 class="btn-blue">Queue to be worked</h5>
                    <div class="roles">
                        <ul>
                            <li><input type="checkbox">Manual updated</li>
                            <li><input type="checkbox">Delete Page</li>
                            <li><input type="checkbox">Ability to choose batches from queue</li>
                        </ul>
                    </div>
                </div> -->
                <!-- <div class="col-md-4 customTop custom-right"> -->
                    <!-- <h5 class="btn-blue">Queue to be worked</h5> -->
                    <!-- <label for="">How many rows can be edited</label>
                    <select class="" name="">
                <option value="">name</option>
                <option value="">age</option>
                <option value="">photo</option>
              </select>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-3 customTop custom-right">
                    <h5 class="btn-blue">Processes to be worked</h5>
                    <div class="roles">
                        <ul>
                            <li><input type="checkbox">All Processes</li>
                            <li><input type="checkbox">Underwriting</li>
                            <li><input type="checkbox">Processing</li>
                            <li><input type="checkbox">Closing</li>
                            <li><input type="checkbox">Post closing</li> -->
                            <!-- <li><i class="fa fa-square" aria-hidden="true"></i>Processing</li> -->
                        <!-- </ul> -->
                    <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="col-md-4 customTop custom-right">
                    <h5 class="btn-blue">Queue to be worked</h5>
                    <div class="roles">
                        <ul>
                            <li><span>Assign TAT greater then </span>
                                <select class="" name="">
                        <option value="">name</option>
                        <option value="">age</option>
                        <option value="">photo</option>
                    </select></li>
                            <li><span>Number of holds in queue </span>
                                <select class="" name="">
                      <option value="">name</option>
                      <option value="">age</option>
                      <option value="">photo</option>
                  </select></li>
                            <li><input type="checkbox">Re-assign file to queue</li>
                            <li><input type="checkbox">Change batch status</li> -->
                            <!-- <li><i class="fa fa-square" aria-hidden="true"></i>Ability to choose batches from queue</li> -->
                        <!-- </ul> -->
                        <!-- <a class="btn-blue" href="javascript:void()">Done</a> -->
                        <!-- <div class="clearfix"></div> -->
                    <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="clearfix"></div> -->
                <div class="permissions">
                    
                    <accordion [showArrows]="false" [closeOthers]="true" [expandAll]="true">
                    <accordion-group class="text-left" heading="Create New Permissions">
                        
                        <div class="col-md-3 customTop custom-right">
                    <h5 class="btn-blue text-center">Queue to be worked</h5>
                    <div class="roles">
                        <ul>
                            <li><input type="checkbox">Search by Name</li>
                            <li><input type="checkbox">Search by Role</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 customTop custom-right">
                    <h5 class="btn-blue text-center">Queue to be worked</h5>
                    <div class="roles">
                        <ul>
                            <li><input type="checkbox">Manual updated</li>
                            <li><input type="checkbox">Delete Page</li>
                            <li><input type="checkbox">Ability to choose batches from queue</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 customTop custom-right">
                  
                    <label for="">How many rows can be edited</label>
                    <select class="" name="">
                <option value="">name</option>
                <option value="">age</option>
                <option value="">photo</option>
              </select>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-3 customTop custom-right">
                    <h5 class="btn-blue text-center">Processes to be worked</h5>
                    <div class="roles">
                        <ul>
                            <li><input type="checkbox">All Processes</li>
                            <li><input type="checkbox">Underwriting</li>
                            <li><input type="checkbox">Processing</li>
                            <li><input type="checkbox">Closing</li>
                            <li><input type="checkbox">Post closing</li>
                           
                        </ul>
                    </div>
                </div>
                        <div class="col-md-4 customTop custom-right">
                    <h5 class="btn-blue text-center">Queue to be worked</h5>
                    <div class="roles">
                        <ul>
                            <li><span>Assign TAT greater then </span>
                                <select class="" name="">
                        <option value="">name</option>
                        <option value="">age</option>
                        <option value="">photo</option>
                    </select></li>
                            <li><span>Number of holds in queue </span>
                                <select class="" name="">
                      <option value="">name</option>
                      <option value="">age</option>
                      <option value="">photo</option>
                  </select></li>
                            <li><input type="checkbox">Re-assign file to queue</li>
                            <li><input type="checkbox">Change batch status</li>
                          
                        </ul>
                        <a class="btn-blue" href="javascript:void()">Done</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                    </accordion-group>
                    <!-- <accordion-group class="text-left" heading="Edit Permissions">
                         
                        <div class="col-md-3 customTop custom-right">
                    <h5 class="btn-blue text-center">Queue to be worked</h5>
                    <div class="roles">
                        <ul>
                            <li><input type="checkbox">Search by Name</li>
                            <li><input type="checkbox">Search by Role</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 customTop custom-right">
                    <h5 class="btn-blue text-center">Queue to be worked</h5>
                    <div class="roles">
                        <ul>
                            <li><input type="checkbox">Manual updated</li>
                            <li><input type="checkbox">Delete Page</li>
                            <li><input type="checkbox">Ability to choose batches from queue</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 customTop custom-right">
                 
                    <label for="">How many rows can be edited</label>
                    <select class="" name="">
                <option value="">name</option>
                <option value="">age</option>
                <option value="">photo</option>
              </select>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-3 customTop custom-right">
                    <h5 class="btn-blue text-center">Processes to be worked</h5>
                    <div class="roles">
                        <ul>
                            <li><input type="checkbox">All Processes</li>
                            <li><input type="checkbox">Underwriting</li>
                            <li><input type="checkbox">Processing</li>
                            <li><input type="checkbox">Closing</li>
                            <li><input type="checkbox">Post closing</li>
                          
                        </ul>
                    </div>
                </div>
                        <div class="col-md-4 customTop custom-right">
                    <h5 class="btn-blue text-center">Queue to be worked</h5>
                    <div class="roles">
                        <ul>
                            <li><span>Assign TAT greater then </span>
                                <select class="" name="">
                        <option value="">name</option>
                        <option value="">age</option>
                        <option value="">photo</option>
                    </select></li>
                            <li><span>Number of holds in queue </span>
                                <select class="" name="">
                      <option value="">name</option>
                      <option value="">age</option>
                      <option value="">photo</option>
                  </select></li>
                            <li><input type="checkbox">Re-assign file to queue</li>
                            <li><input type="checkbox">Change batch status</li>
                            
                        </ul>
                        <a class="btn-blue" href="javascript:void()">Done</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                    </accordion-group>
                    <accordion-group class="text-left" heading="View Permissions">
                         
                        <div class="col-md-3 customTop custom-right">
                    <h5 class="btn-blue text-center">Queue to be worked</h5>
                    <div class="roles">
                        <ul>
                            <li><input type="checkbox">Search by Name</li>
                            <li><input type="checkbox">Search by Role</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 customTop custom-right">
                    <h5 class="btn-blue text-center">Queue to be worked</h5>
                    <div class="roles">
                        <ul>
                            <li><input type="checkbox">Manual updated</li>
                            <li><input type="checkbox">Delete Page</li>
                            <li><input type="checkbox">Ability to choose batches from queue</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 customTop custom-right">
                  
                    <label for="">How many rows can be edited</label>
                    <select class="" name="">
                <option value="">name</option>
                <option value="">age</option>
                <option value="">photo</option>
              </select>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-3 customTop custom-right">
                    <h5 class="btn-blue text-center">Processes to be worked</h5>
                    <div class="roles">
                        <ul>
                            <li><input type="checkbox">All Processes</li>
                            <li><input type="checkbox">Underwriting</li>
                            <li><input type="checkbox">Processing</li>
                            <li><input type="checkbox">Closing</li>
                            <li><input type="checkbox">Post closing</li>
                           
                        </ul>
                    </div>
                </div>
                        <div class="col-md-4 customTop custom-right">
                    <h5 class="btn-blue text-center">Queue to be worked</h5>
                    <div class="roles">
                        <ul>
                            <li><span>Assign TAT greater then </span>
                                <select class="" name="">
                        <option value="">name</option>
                        <option value="">age</option>
                        <option value="">photo</option>
                    </select></li>
                            <li><span>Number of holds in queue </span>
                                <select class="" name="">
                      <option value="">name</option>
                      <option value="">age</option>
                      <option value="">photo</option>
                  </select></li>
                            <li><input type="checkbox">Re-assign file to queue</li>
                            <li><input type="checkbox">Change batch status</li>
                           
                        </ul>
                        <a class="btn-blue" href="javascript:void()">Done</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                    </accordion-group> -->
                    </accordion>
                    <!-- <h6 class="text-left teaxt-heading btn-gray">View Permissions</h6> -->
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>