<header class="container-fluid">
    <div>
        <div class="">
            <div class="pull-left left-head">
                <!-- <select class="" name="">
              <option value=""></option>
            </select> -->
                <h1>SmartDocR Logo</h1>
            </div>
            <div class="pull-right right-head">
                <ul class="pull-right">
                    <li>John Gleer</li>
                    <li>Sep 23<sup>rd</sup></li>
                    <!-- <div class="clearfix"></div> -->
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</header>
<section class="middle-content container-fluid" style="background-image: url('images/background.jpg');">
    <div class="row customTop">
        <div class="col-md-2">
            <div class="nav-left">
                <ul>
                    <li><a class="" href="#">User management <span class="pull-right">+</span></a></li>
                    <li><a href="#">Permissions <span class="pull-right">+</span></a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-md-offset-1 text-center">
            <div class="contentRight">
                <h4 class="text-left teaxt-heading btn-blue">Create New Permissions</h4>
                <div class="col-md-3 customTop custom-right">
                    <h5 class="btn-blue">Queue to be worked</h5>
                    <div class="roles">
                        <ul>
                            <li><i class="fa fa-square" aria-hidden="true"></i>Search by Name</li>
                            <li><i class="fa fa-square" aria-hidden="true"></i>Search by Role</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 customTop custom-right">
                    <h5 class="btn-blue">Queue to be worked</h5>
                    <div class="roles">
                        <ul>
                            <li><i class="fa fa-square" aria-hidden="true"></i>Manual updated</li>
                            <li><i class="fa fa-square" aria-hidden="true"></i>Delete Page</li>
                            <li><i class="fa fa-square" aria-hidden="true"></i>Ability to choose batches from queue</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 customTop custom-right">
                    <!-- <h5 class="btn-blue">Queue to be worked</h5> -->
                    <label for="">How many rows can be edited</label>
                    <select class="" name="">
                <option value="">name</option>
                <option value="">age</option>
                <option value="">photo</option>
              </select>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-3 customTop custom-right">
                    <h5 class="btn-blue">Processes to be worked</h5>
                    <div class="roles">
                        <ul>
                            <li><i class="fa fa-square" aria-hidden="true"></i>All Processes</li>
                            <li><i class="fa fa-square" aria-hidden="true"></i>Underwriting</li>
                            <li><i class="fa fa-square" aria-hidden="true"></i>Processing</li>
                            <li><i class="fa fa-square" aria-hidden="true"></i>Closing</li>
                            <li><i class="fa fa-square" aria-hidden="true"></i>Post closing</li>
                            <!-- <li><i class="fa fa-square" aria-hidden="true"></i>Processing</li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 customTop custom-right">
                    <h5 class="btn-blue">Queue to be worked</h5>
                    <div class="roles">
                        <ul>
                            <li><span>Assign TAT greater then </span>
                                <select class="" name="">
                        <option value="">name</option>
                        <option value="">age</option>
                        <option value="">photo</option>
                    </select></li>
                            <li><span>Number of holds in queue </span>
                                <select class="" name="">
                      <option value="">name</option>
                      <option value="">age</option>
                      <option value="">photo</option>
                  </select></li>
                            <li><i class="fa fa-square" aria-hidden="true"></i>Re-assign file to queue</li>
                            <li><i class="fa fa-square" aria-hidden="true"></i>Change batch status</li>
                            <!-- <li><i class="fa fa-square" aria-hidden="true"></i>Ability to choose batches from queue</li> -->
                        </ul>
                        <a class="btn-blue" href="#">Done</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="permissions">
                    <h4 class="text-left teaxt-heading btn-gray">Edit Permissions</h4>
                    <h6 class="text-left teaxt-heading btn-gray">View Permissions</h6>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>