<div class="nav-left">
                <ul>
                    <li><a class="" href="">User management <span class="pull-right">+</span></a>
                        <ul>
                            <li><a class="" href="javascript:void();">User Info</a></li>
                            <li><a routerLinkActive="active" routerLink="/operator">Create New User</a></li>
                            <li><a routerLinkActive="active" routerLink="/editDetails">Edit User Details</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Permissions <span class="pull-right">+</span></a>
                         <ul>
                            <li><a routerLinkActive="active" routerLink="/permission">Create New Permissions</a></li>
                            <li><a class="" href="javascript:void();">Edit Permissions</a></li>
                            <li><a class="" href="javascript:void();">view Permissions</a></li>
                        </ul>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>