<app-header-new></app-header-new>
<section class="middle-content container-fluid" style="background-image: url('assets/new/images/background.jpg');">
<div class="customTop">
    <div class="col-md-2">
        <div class="nav-left">
            <ul>
                <li><a class="" href="#">Client Setup</a></li>
                <li><a href="#" class="active">Add New Client </a></li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    <div class="col-md-9 col-md-offset-1">
        <div class="contentRight mid-right">
            <div class="companyDetails">
                <h4 class="heading edit">Company Details</h4>
                <div class="row companyDetails">
                    <div class="col-md-6 form-group">
                        <div class="">
                            <label>Name</label>
                            <input class="form-control form" [(ngModel)]="newClient.name" type="text">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>State</label>
                        <input class="form-control form" [(ngModel)]="newClient.state" type="text">
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Adress</label>
                        <input class="form-control form" [(ngModel)]="newClient.adress" type="text">
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="formLabel">City</label>
                        <input class="form-control formSmall" [(ngModel)]="newClient.city" type="text">
                        <label class="labelSmall">Zip</label>
                        <input class="form-control formSmall" [(ngModel)]="newClient.zip" type="text">
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="companyDetails">
                <h4 class="heading edit">Contact Details</h4>
                <div class="row companyDetails">
                    <div class="col-md-6 form-group">
                        <div class="">
                            <label>First Name</label>
                            <input class="form-control form" [(ngModel)]="newClient.firstname" type="text">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="">
                            <label>Last Name</label>
                            <input class="form-control form" [(ngModel)]="newClient.lastname" type="text">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="">
                            <label>Phone Number</label>
                            <input class="form-control form" [(ngModel)]="newClient.phonenumber" type="text">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="">
                            <label>Email ID</label>
                            <input class="form-control form" [(ngModel)]="newClient.emailiD" type="text">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 pull-right">
                        <p class="text-right"><a class="clickAdd" href="#">+</a>Click to add contact name</p>
                    </div>
                </div>
            </div>
            <div class="companyDetails">
                <h4 class="heading edit">Pricing Terms</h4>
                <div class="row companyDetails">
                    <div class="col-md-6 form-group">
                        <div class="">
                            <label>Contract Date</label>
                            <input class="form-control form" [(ngModel)]="newClient.contractdate" type="text">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="">
                            <label>Products Selected</label>
                            <input class="form-control form" [(ngModel~)]="newClient.productsselected" type="text">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row subButton">
                <div class="button-group pull-right">
                    <a class="button btn-gry buttonEdit" href="#">Edit</a>
                    <a class="button btn-blue buttonEdit" href="#" (click)="savenewclient()">Save</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
</section>