<app-header-new></app-header-new>
<section class="middle-content container-fluid" style="background-image: url('assets/new/images/background.jpg');">
    <div class="row customTop">
        <div class="col-md-2">
            <app-nav-left></app-nav-left>
        </div>
        <div class="col-md-9 col-md-offset-1 text-center">
            <div class="contentRight">
                <div class="defaultNav">
                    <ul>
                        <li><a class="btn-tabs btn-blue btn-gray btn-space" href="javascript:void()">Operator</a></li>
                        <li>
                            <a class="btn-tabs btn-blue btn-gray btn-space" href="javascript:void()">Manager</a></li>
                        <li><a class="btn-tabs btn-blue btn-gray btn-space" href="javascript:void()">Admin</a></li>
                        <li><a class="btn-tabs btn-blue btn-gray btn-space" href="javascript:void()">User</a></li>
                    </ul>
                </div>
                <div class="customProcess">
                    <div class="col-md-6 from-group">
                        <label for="">Turn Time</label>
                        <span class="check-form">
                  <input id="checkBox" type="checkbox">
                  <!-- <label  for="">companyDetails</label> -->
                  <span class="actLabel">Active</span>
                        </span>
                        <span class="check-form">
                  <input id="checkBox" type="checkbox">
                  <!-- <label class="actLabel" for="">In Active</label> -->
                  <span class="actLabel">In Active</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="companyDetails">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Emp Id</label>
                                <input class="form-control" type="text">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Email Id</label>
                                <input class="form-control" type="text">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">User Id</label>
                                <input class="form-control" type="text">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Office Location</label>
                                <input class="form-control" type="text">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">First Name</label>
                                <input class="form-control" type="text">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Last Name</label>
                                <input class="form-control" type="text">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-2 button-group pull-right">
                        <!-- <a class="button btn-gry buttonEdit"href="javascript:void()">Edit</a> -->
                        <a class="button btn-blue buttonEdit pull-right" href="javascript:void()">Save</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>