.wrap {
    min-width: 300px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-shadow: 10px 20px 10px rgba(0, 0, 0, .2);
    padding: 20px;
    min-height: 100%;
    .batch-move-close {
        text-align: right;
        cursor: pointer;
    }
}

.header {
    border: 1px solid #ccc;
    padding: 5px 5px;
    background-color: #ccc;
    margin-bottom: 5px;
}

.form {
    padding: 10px;
}

.action-item {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.nav-tabs li.active a {
    background-color: #eee;
}
