<app-header-new></app-header-new>
<section class="middle-content container-fluid" style="background-image: url('assets/new/images/background.jpg');">
    <div class="customTop">
        <div class="col-md-2">
            <app-nav-left-process></app-nav-left-process>
        </div>
        <div class="col-md-9 col-md-offset-1 contentRight">
            <div class="companyDetails">
                <div class="col-md-6 form-group">
                    <label>Company Name</label>
                    <input class="form-control form" type="text">
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 form-group">
                    <label>Turn Time</label>
                    <select class="form-control form-small formLabel">
                    <option selected>HH</option>
                    <option *ngFor = "let hour of hours">{{hour}}</option>
                    </select>
                    <select class="form-control  form-small formLabel">
                    <option selected>MM</option>
                    <option *ngFor = "let min of mins">{{min}}</option>
                    </select>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="companyDetails compantForm">
                <div class="col-md-12 form-group">
                    <label>Remarks</label>
                    <textarea class="form-control formTextArea" cols="100"></textarea>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-12">
                <div class="button-group pull-right">
                    <a class="button btn-gry buttonEdit" href="javascript:void()">Edit</a>
                    <a class="button btn-blue buttonEdit" href="javascript:void()">Save</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 tableDetails">
                <table class="table table-bordered processTable">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Process Name</th>
                            <th>Name</th>
                            <th>TAt</th>
                            <th>Remark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>