<app-header-new></app-header-new>
<section class="middle-content container-fluid" style="background-image: url('assets/new/images/background.jpg');">
    <div class="customTop">
        <div class="col-md-2">
            <app-nav-left-process></app-nav-left-process>
        </div>
        <div class="col-md-9 col-md-offset-1 contentRight">
            <div class="companyDetails">
                <div class="col-md-6 form-group">
                    <label>Process Name</label>
                    <input class="form-control form" type="text">
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 form-group">
                    <label>Turn Time</label>
                    <select class="form-control form-small formLabel">
                    <option selected>HH</option>
                    <option *ngFor = "let hour of hours">{{hour}}</option>
                    </select>
                    <select class="form-control  form-small formLabel">
                    <option selected>MM</option>
                    <option *ngFor = "let min of mins">{{min}}</option>
                    </select>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="companyDetails compantForm">
                <div class="col-md-12 form-group">
                    <label>Remarks</label>
                    <textarea class="form-control formTextArea" cols="100"></textarea>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-12">
                <div class="button-group pull-right">
                    <a class="button btn-gry buttonEdit" href="javascript:void()">Edit</a>
                    <a class="button btn-blue buttonEdit" href="javascript:void()">Save</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 tableDetails">
                <table class="table table-bordered processTable" style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 5%">S.No</th>
                            <th style="width: 35%">Process Name</th>
                            <!--<th>Name</th>-->
                            <th style="width: 30%">TAT</th>
                            <th style="width: 30%">Remark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 5%">1</td>
                            <td style="width: 35%">Williams</td>
                            <td style="width: 30%">123</td>
                            <td style="width: 30%">456</td>
                        </tr>
                        <!--<tr>
                            <td style="width: 20px">2</td>
                            <td style="width: 60px">Henry</td>
                            <td style="width: 60px">123</td>
                            <td style="width: 60px">456</td>
                        </tr>
                        <tr>
                            <td style="width: 20px">3</td>
                            <td style="width: 60px">David</td>
                            <td style="width: 60px">123</td>
                            <td style="width: 60px">456</td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>