<div class="action-wrap">
    <div class="left">
        <div class="calendar">

        </div>
    </div>
    <div class="right">
        <div class="action-btns">
            <i class="action-btn fa fa-refresh fa-2x" aria-hidden="true"></i>
        </div>
        <div class="search">
            <div class="input-group">
                <input type="text" class="form-control batch-search-input" placeholder="Batch ID">
                <span class="input-group-addon batch-search-btn">
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            </div>
        </div>
    </div>
</div>