.hidden {
    display: none!important;
}

.form-wrap {
    margin: 20% 0 0 0;
}

.form-wrapdoctype {
    margin: 5% 0 0 0;
}

.action-blade {
    height: 100%;
    background-color: white;
    flex-grow: 1;
    padding: 15px 15px 15px 15px;
    width: 720px;
    position: absolute;
    right: 0;
    border-right: 1px solid #d9dee4;
    z-index: 20;
    box-shadow: -3px 0 6px rgba(0, 0, 0, 0.3);
    animation: actionBlade;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    top: 0;
}

.action-blade::before {
    background-color: white;
    content: "\00BB";
    position: absolute;
    margin-left: -65px;
    margin-top: -15px;
    height: 50px;
    width: 50px;
    box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.3);
    z-index: 10;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.action-blade.large {
    width: 900px;
}

.action-blade.small {
    width: 400px;
}

.action-blade.extra-small {
    width: 200px;
}

@keyframes actionBlade {
    from {
        margin-right: -700px;
    }
    to {
        margin-right: 0px;
    }
}

.screen-block {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #DDDDDD;
    opacity: 0.7;
    z-index: 10;
    position: absolute;
}

.submit-btn {
    background-image: linear-gradient(#85d063, #4f992f);
    background-color: #55a532;
    border: 1px solid #5aad35;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    padding: 3px 10px;
    font-size: 14px;
    line-height: 20px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

@media(max-width:600px) {
    .action-blade {
        width: 100%!important;
        box-shadow: none;
        padding: 10px;
        box-sizing: border-box;
        left: 0;
        right: initial;
        overflow: hidden;
    }
    .action-blade::before {
        content: none;
    }
    .screen-block {
        display: none;
    }
    .form-section {
        margin: 0;
        margin-top: 10px;
    }
}

.textbox_width {
    width: 35%;
    margin: 5px auto;
    /*text-align: center;*/
}

.textbox_width1 {
    width: 35%;
    margin: 5px;
    /*text-align: center;*/
}

.headingbk {
    background-color: #5bc0de;
    font-size: 16px;
    font-weight: normal;
}

.normalfont {
    font-weight: normal;
    text-align: right;
    width: 35%;
    margin-right: 20px;
}

.sidebyside {
    display: flex;
}

.button-color {
    background-color: #5bc0de;
    border: 1px solid #bbb;
    /*border-color: lightgray;
    border-style: outset;*/
    min-width: 100px;
}

.sameline {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
}

.selected-item {
    background-color: #5bc0de;
    border: 1px solid rgba(0, 0, 0, 0.19);
    font-weight: bold;
}
