<!--<div class="container">
  <div class="row">
    <div class="col-md-4">-->
      <div class="search" >
        <div class="input-group addon-sty"  >
          <input type="text" class="search-key form-control" placeholder="Search Document Name" aria-describedby="basic-addon2" [(ngModel)]="searchKey"
            (keyup.enter)="searchContact()">
          <span class="input-group-addon" id="basic-addon2" (click)="searchContact()">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
        </div>
      </div>
    <!--</div>
  </div>
</div>-->
