<header class="container-fluid">
    <div>
        <div class="row">
            <div class="pull-left left-head">
                <!-- <select class="" name="">
              <option value=""></option>
            </select> -->
                <h1>SmartDocR Logo</h1>
            </div>
            <div class="pull-right right-head">
                <ul class="pull-right">
                    <li>John Gleer</li>
                    <li>Sep 23<sup>rd</sup></li>
                    <!-- <div class="clearfix"></div> -->
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</header>
<section class="middle-content container-fluid" style="background-image: url('assets/new/images/background.jpg');">
    <div class="get-start text-center">
        <div class="logo-img">
            Company logo
        </div>
        <!-- <img src="images/client-img.png" alt=""> -->

        <h3>ABC Bank</h3>
        <!-- <p>Get Startd,<a class="button btn-gray" href="#">Set-up a Client</a></p> -->
        <div class="button-top">
            <div class="button-group">
                <a class="button btn-blue" href="#">Work flow Management</a>
                <a class="button btn-blue" href="#">Process Setup</a>
                <a class="button btn-blue" href="#">User Management</a>
                <a class="button btn-blue" href="#">Input Settings</a>
            </div>
            <div class="text-center">
                <a class="button btn-blue" href="#">OCR Settings</a>
            </div>
        </div>
        <div class="pull-right addClient">
            <a href="#">Add New Client <i class="fa fa-caret-right" aria-hidden="true"></i></a>
        </div>
    </div>
</section>