<div class="icon-nav">
  <!--<div class="nav-item" [ngClass]="{'active':active==='doc'}" (click)="selectNavItem('doc')">
        <i class="fa fa-files-o" aria-hidden="true"></i>
    </div>-->
  <div class="nav-item" [ngClass]="{'active':active==='view'}" (click)="selectNavItem('view')">
    <i class="fa fa-th" aria-hidden="true"></i>
  </div>
  <div class="nav-item" [ngClass]="{'active':active==='tools'}" (click)="selectNavItem('tools')">
    <i class="fa fa-wrench" aria-hidden="true"></i>
  </div>
  <div class="nav-item" [ngClass]="{'active':active==='move'}" (click)="selectNavItem('move')">
    <i class="fa fa-random" aria-hidden="true"></i>
  </div>

</div>
