<si-header [isMenuEnabled]=false></si-header>
<div class="app-wrap col-md-12">
  <!--<div class="row">
    <div class="col-md-12">
      <div class="span4 col-md-3">
        <si-doc-search (searchKeyword)=onsearch($event)></si-doc-search>
      </div>
      <!--<div class="span4 col-md-3 col-md-offset-6  app-file">
        <si-uploadtemplate>
        </si-uploadtemplate>
      </div>-->
    <!--</div>
  </div>-->
  <div>
    <si-config-viewer [searchKeyword]="searchKeyword"></si-config-viewer>
  </div>
</div>
