<app-header-new></app-header-new>
    <section class="middle-content container-fluid" style="background-image: url('assets/new/images/background.jpg');">
      <div class="row customTop">
        <div class="col-md-2">
          <div class="nav-left">
            <ul>
              <li><a href="#">Work flow management</a></li>
              <li><a class="active"  href="#">Add New work flow</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-9 col-md-offset-1 text-center">
          <div class="contentRight">
            <div class="defaultNav">
              <ul>
                <li><i class="fa fa-circle" aria-hidden="true"></i><a class="btn-tabs btn-blue" href="#">Default 1</a></li>
                <li><i class="fa fa-circle" aria-hidden="true"></i><a class="btn-tabs btn-blue" href="#">Default 2</a></li>
                <li><i class="fa fa-circle" aria-hidden="true"></i><a class="btn-tabs btn-blue" href="#">Default 3</a></li>
                <li><i class="fa fa-circle" aria-hidden="true"></i><a class="btn-tabs btn-blue" href="#">Default 4</a></li>
              </ul>
            </div>
            <div class="customProcess">
                <div class="col-md-3 customTop">
                    <h4>Customized proccess flow</h4>
                  <div class="custom-nav">
                    <ul>
                      <li><a class="btn-blue btn-gray"  href="#">Auto classfication</a></li>
                      <li><a class="btn-blue btn-gray"  href="#">Manual classfication</a></li>
                      <li><a class="btn-blue btn-gray"  href="#">Auto extraction</a></li>
                      <li><a class="btn-blue btn-gray"  href="#">Manual extraction</a></li>
                      <li><a class="btn-blue btn-gray"  href="#">Auditor classfication</a></li>
                      <li><a class="btn-blue btn-gray"  href="#">Manual upload</a></li>
                      <li><a class="btn-blue btn-gray"  href="#">Connect to DB</a></li>
                      <li><a class="btn-blue btn-gray"  href="#">Connect to DMS</a></li>
                      <li><a class="btn-blue btn-gray"  href="#">Connect to</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-9 customTop">
                  <div class="customRight">
                    <div class="butttonFields">
                      <ul>
                        <li><a class="btn-block button btn-blue"  href="#">Auto classfication</a></li>
                        <li><a class="btn-block button btn-blue"  href="#">Manual classfication</a></li>
                        <div class="clearfix"></div>
                      </ul>
                    </div>
                    <p class="dragPoint">Drag and drop proccess step to create  your own proccess flow here</p>
                  </div>
                  <div class="content">
                  <div class="subButton">
                  <div class="button-group pull-right">
                    <a class="button btn-gry buttonEdit" href="#">Edit</a>
                    <a class="button btn-blue buttonEdit" href="#">Save</a>
                  <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
                  </div>
                  </div>
                </div>
                  <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
