<app-header-new></app-header-new>
<section class="middle-content container-fluid" style="background-image: url('assets/new/images/background.jpg');">
    <div class="row customTop">
        <div class="col-md-2">
           <app-nav-left></app-nav-left>
        </div>
        <div class="col-md-9 col-md-offset-1">
            <div class="contentRight mid-right">
                <h4 class="heading edit">Search User Name</h4>
                <div class="content">
                    <div class="row companyDetails">
                        <div class="col-md-4 formGroup">
                            <label>Search By Role</label>
                            <select class="form-control formInput">
                            <option value="all"></option>
                         </select>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-4 formGroup">
                            <label>Search By Email ID</label>
                            <input class="form-control formInput" type="text">
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-4 formGroup">
                            <label>Search By Name</label>
                            <input class="form-control formInput" type="text">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="button-group pull-right">
                        <a class="button btn-blue buttonEdit" href="javascript:void()">Search</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="tableDetails">
                    <table class="table table-bordered DetailsTable">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Emp ID</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h4 class="heading edit">Edit User Details</h4>
                <div class="editDetails">
                    <div class="row companyDetails">
                        <div class="col-md-4 formGroup">
                            <label>Search By Role</label>
                            <select class="form-control formEdit">
                    <option value="all"></option>
                </select>
                        </div>
                        <div class="col-md-4 formGroup">
                            <label>Search By Email ID</label>
                            <input class="form-control formInput" type="text">
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-2 formGroup">
                            <div class="button-group">
                                <a class="button btn-white buttonEdit" href="javascript:void()">Search</a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row companyDetails">
                    <div class="col-md-4">
                        <div class="formGroup">
                            <label>Status</label>
                            <input class="form-control" type="text">
                            <div class="clearfix"></div>
                        </div>
                        <div class="formGroup">
                            <label>Emp ID</label>
                            <input class="form-control" type="text">
                            <div class="clearfix"></div>
                        </div>
                        <div class="formGroup">
                            <label>User ID</label>
                            <input class="form-control" type="text">
                            <div class="clearfix"></div>
                        </div>
                        <div class="formGroup">
                            <label>First Name</label>
                            <input class="form-control" type="text">
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="formGroup">
                            <label>Email ID</label>
                            <input class="form-control" type="text">
                            <div class="clearfix"></div>
                        </div>
                        <div class="formGroup">
                            <label>Office Location</label>
                            <select class="form-control"> 
                       <option value="all"></option>
                   </select>
                            <div class="clearfix"></div>
                        </div>
                        <div class="formGroup">
                            <label>Last Name</label>
                            <input class="form-control" type="text">
                            <div class="clearfix"></div>
                        </div>
                        <div class="formGroup">
                            <a class=" button-group button btn-blue pull-right" href="javascript:void()">Save</a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>