<header class="container-fluid">
    <div class="pull-left left-head">
        <!-- <select class="" name="">
              <option value=""></option>
            </select> -->
        <h1><a routerLink="/firstPage">SmartDocR Logo</a></h1>

    </div>
    <div class="pull-right right-head">
        <ul class="pull-right">
            <li>John Gleer</li>
            <li>Sep 23<sup>rd</sup></li>
            <!-- <div class="clearfix"></div> -->
        </ul>
        <div class="clearfix"></div>
    </div>
</header>